# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:outgoing-bat-88 # team: vincentleeduriga, project: appdev2-final-exam

EXPO_PUBLIC_CONVEX_URL=https://outgoing-bat-88.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://outgoing-bat-88.convex.site
